<h1>Restaurants</h1>

    <% @restaurants.each do |restaurant| %>
       <ul>
        <h2><%= restaurant.name %></h2>
        <p>
          <%= restaurant.category %>,

          <%= link_to 'LEt mE sEe tHaT sHiT', restaurant %>
        </p>

      </ul>
    <% end %>
